<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login">
            <form action="/login" method="post">
                <label class="main-label" for="chk" aria-hidden="true">Login</label>
                <input class="input"  type="email" name="email" placeholder="Email" required="">
                <input class="input"  type="password" name="pswd" placeholder="Password" required="">
                <input class="button" type="submit" value="Login"/>
            </form>
            <p class="para">Don't have an account? <a href="/register">Click here to Signup</a></p>
        </div>
</body>
</html>